#center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#center-horizontal 
{
   margin: auto;
  width: 50%;
  padding: 10px;

}

#center-vertically{
    text-align: center;
}
#center-bottom {
  position: absolute; 
  left: 50%;
  bottom: 0px;
}

#header{
    background-color: #8FD8D8;
}

#title{
    text-align: center;
    color: #fff;
    font-size: 40px;
}
body {
background-color: #8FD8D8;
}
.getWeather{
     float: left;
     color: black;
}
